/* header style */
*{
    margin: 0;
    padding:0;
    font-family: 'Work Sans';
}
/* utilities */
 .container{
    font-weight: 700;
    } 

.text{
    font-weight: 400;
font-size: 16px;
line-height: 26px;

}

/* body{
   
    overflow-x: hidden  ;
  

} */
.heading-container{
    background: rgba(255, 144, 14, 0.1);
    /* padding: 50px 120px; */
    max-width: 1440px;
    margin: auto;
    width: 100%;
    

}
div{
    display: block;
}
.heading-title{
    font-size: 45px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 120px;
    margin-inline-end: 50px; 
    
}

.heading-nav{
    display: flex;
    justify-content: space-between;
   
    
    align-items: center;
   
/* width: 1920px;
height: 1352px; */
}
.heading-nav ul li:hover{
    color: #FF900E;
    transform: scale(1.2);
}
button:hover{
    transform: scale(1.2);
}

.heading-list ul{
    list-style: none;
    display: flex;
    gap:35px;
}

.heading-nav ul li {
    font-weight: 500;
font-size: 18px;
}

.brand-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 900px; */
    
}

.brand-title{
    margin-top: 102px;
    font-size: 64px;
    color: #131313;
    text-align: center;

}


.brand-description{
    padding: 20px 200px;
    
}

button{
    background: #FF900E;
border-radius: 8px;
width: 180px;
height: 64px;
border-style: none;
color:white;
font-weight: 600;
font-size: 20px;
margin-top: 32px;
}

.banner img {
    margin-top: 50px;
    width: 100%;
}

/* main-section styles */

.features-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px;
    padding: 50px 120px;
    justify-content: right;
    margin-top: 110px;
}
.feature-title{
    font-weight: 500;
font-size: 45px;
margin-top: 300px;

}

.team-image {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:24px;
   
}

.description{
    margin-top: 25px;
}

/* Architect styles */

.features-contents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:50px;
    padding: 50px 120px;
    max-width: 1440px;
    margin: auto;
    width: 100%;
    
}
.architect-image img{
    width: 100%;
    
}
.content-title{
  
    font-size: 45px;
    
   
}
.vl {
    border-left: 6px solid #FF900E;  
    height: 106px;
  }

.content-border{
    display: flex;
    gap:21px;
}

.content-list{
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding:30px 30px;
margin-top: 20px;
}
.architect-details{
    position: relative;
}

.large-button{
    width: 342px;
height: 200px;
font-weight: 700;
font-size: 60px;
position: absolute;
/* padding: 45px 45px; */
  top: 3150px;
right: 306px;  

}

.experiments{
    font-weight: 500;
font-size: 25px;
}
 /* some-facts styles */

 .facts{
    padding: 50px 120px;
    max-width: 1440px;
    margin: auto;
    width: 100%;
    
    
 }

 .details-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:100px;
    margin-top: 100px;

 }
 .list{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241px;
height: 241.83px;


 }
 .list:hover{
    background-color:  rgba(255, 144, 14, 0.1);
    box-shadow: inset;
    transform: translate(20px ,20px) scale(1.1) ;
 }
 .list img{
     
    padding-left:85px;
    padding-top: 40px;
 }
 .total-number{
    font-weight: 600px;
    font-size: 45px;
    padding-left:75px;
 }
 .about{
    font-weight: 600px;
    font-size: 20px;
    padding: 5px 30px;
 }
 /* sponser styles */
 .sponsers{
    text-align: center;
    margin-top: 180px;

 }
 .sponser-img{
    display: flex;
   gap:140px;
   padding: 50px 120px;
 }

 .sponser-img img{
    filter: grayscale(100%);
 }
/* Dream-house styles */
.dream-house{
    font-size: 45px;
    padding: 10px 120px;
    text-align: center;
    max-width: 1440px;
    margin: auto;
    width: 100%;
    
 
    
}
.dream-house-desc{
  padding: 20px 400px;
}
.dream-house img{
    margin-top: 45px;
}


 /* footer design */

 .footer{
    background: #FFF4E7;
border-radius: 8px;
width: 1300px;
margin-top: 130px;

margin-left: 120px;
margin-bottom: 220px;
text-align: center;
font-weight: 400;
font-size: 20px;
padding:40px;
max-width: 1440px;

   

 }

 /* responsive for mobile device */

 @media only screen and (max-width:688px) {
    .heading-container,.heading-nav,.features-container,.features-contents,.facts,.dream-place-section,.sponsers,footer{
        width: 100%;
       

    }
    body{
        overflow-x: hidden;
    }
    .heading-nav ul li{
        display:flex ;
        flex-direction: column;
    }
    .heading-nav,.sponser-img{
       
        flex-direction: column;
        

    }
    .brand-description{
        padding: 16px 30px;
    }
    .team-image,  .details-list{
        grid-template-columns: repeat(1,1fr);
    }

   

    .some-facts{
        align-items: center;
    }
   
    
    .contents-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }   

   
    .features-contents{
        display: flex;
        flex-direction: column;
    }
    .features-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 5px;

    }

    .large-button{
        right:0px;
        top:0px;
        position: static;
    } 
    .facts{
        padding: 50px,90px;
    }
    
    .dream-house-desc {
        padding: 10px 97px;
    }

    .footer{
     width: 100%;
    }






 }
